@using Microsoft.AspNetCore.Mvc.Localization
@using TaskManagement.Localization
@inject IHtmlLocalizer<TaskManagementResource> L
<a class="nav-link" role="button" href="~/Account/Login">@L["Login"]</a>
