<div class="card tasks-card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-6">
        <h5 class="card-title">
          <i class="fas fa-tasks me-2"></i>
          {{ 'TaskManagement::Menu:Tasks' | abpLocalization }}
        </h5>
      </div>
      <div class="col-md-6 text-end">
        <button
          class="btn btn-primary"
          type="button"
          (click)="createTask()"
          *abpPermission="'TaskManagement.Tasks.Create'"
        >
          <i class="fa fa-plus me-1"></i>
          {{ 'TaskManagement::NewTask' | abpLocalization }}
        </button>
      </div>
    </div>
  </div>

  <div class="card-body">
    <!-- Filters -->
    <div class="row mb-3 filter-row">
      <div class="col-md-3">
        <label class="form-label">
          {{ 'TaskManagement::Status' | abpLocalization }}
        </label>

        <nz-select
          [(ngModel)]="filterStatus"
          nzAllowClear
          [nzPlaceHolder]="'TaskManagement::FilterByStatus' | abpLocalization"
          (ngModelChange)="onFilterChange()"
          style="width: 100%"
        >
          <nz-option
            [nzLabel]="'TaskManagement::Enum:TaskStatus:New' | abpLocalization"
            [nzValue]="taskStatus.New"
          ></nz-option>

          <nz-option
            [nzLabel]="'TaskManagement::Enum:TaskStatus:InProgress' | abpLocalization"
            [nzValue]="taskStatus.InProgress"
          ></nz-option>

          <nz-option
            [nzLabel]="'TaskManagement::Enum:TaskStatus:Completed' | abpLocalization"
            [nzValue]="taskStatus.Completed"
          ></nz-option>
        </nz-select>
      </div>

      <div class="col-md-3">
        <label class="form-label">
          {{ 'TaskManagement::AssignedUser' | abpLocalization }}
        </label>

        <nz-select
          [(ngModel)]="filterAssignedUserId"
          nzAllowClear
          nzShowSearch
          [nzPlaceHolder]="'TaskManagement::FilterByUser' | abpLocalization"
          (ngModelChange)="onFilterChange()"
          style="width: 100%"
        >
          <nz-option
            *ngFor="let user of users"
            [nzLabel]="user.userName"
            [nzValue]="user.id"
          ></nz-option>
        </nz-select>
      </div>

      <div class="col-md-2">
        <label class="form-label">&nbsp;</label>
        <div>
          <button class="btn btn-outline-secondary" (click)="clearFilters()">
            <i class="fa fa-times me-1"></i>
            {{ 'TaskManagement::Clear' | abpLocalization }}
          </button>
        </div>
      </div>
    </div>

    <!-- Table -->
    <nz-table
      #tasksTable
      class="tasks-table"
      [nzData]="taskData.items"
      [nzTotal]="taskData.totalCount"
      [nzLoading]="loading"
      [nzFrontPagination]="false"
      [nzShowPagination]="true"
      [nzPageSize]="pageSize"
      [nzPageIndex]="pageIndex"
      (nzPageIndexChange)="onPageChange($event)"
      (nzPageSizeChange)="onPageSizeChange($event)"
      [nzShowSizeChanger]="true"
      [nzPageSizeOptions]="[5, 10, 20, 50]"
      nzSize="middle"
    >
      <thead class="table-head">
        <tr>
          <th nzWidth="30%">
            {{ 'TaskManagement::Title' | abpLocalization }}
          </th>
          <th nzWidth="30%">
            {{ 'TaskManagement::Description' | abpLocalization }}
          </th>
          <th nzWidth="12%">
            {{ 'TaskManagement::Status' | abpLocalization }}
          </th>
          <th nzWidth="15%">
            {{ 'TaskManagement::AssignedUser' | abpLocalization }}
          </th>
          <th nzWidth="13%">
            {{ 'TaskManagement::Actions' | abpLocalization }}
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let task of tasksTable.data">
          <td class="title-cell"><strong>{{ task.title }}</strong></td>

          <td class="description-cell">
            <span class="task-description">
              {{
                task.description
                  || ('TaskManagement::NoDescription' | abpLocalization)
              }}
            </span>
          </td>

          <td>
            <nz-tag [nzColor]="getStatusColor(task.status)">
              {{
                ('TaskManagement::' + getStatusKey(task.status))
                  | abpLocalization
              }}
            </nz-tag>
          </td>

          <td>
            <span
              *ngIf="task.assignedUserName; else unassignedTpl"
              class="badge bg-info assigned-user-badge"
            >
              <i class="fa fa-user me-1"></i>
              {{ task.assignedUserName }}
            </span>

            <ng-template #unassignedTpl>
              <span class="text-muted">
                {{ 'TaskManagement::Unassigned' | abpLocalization }}
              </span>
            </ng-template>
          </td>

          <td>
            <div class="btn-group btn-group-sm action-buttons">
              <button
                class="btn btn-outline-primary"
                (click)="editTask(task)"
                *abpPermission="'TaskManagement.Tasks.Update'"
                nz-tooltip
                [nzTooltipTitle]="'TaskManagement::Edit' | abpLocalization"
              >
                <i class="fa fa-edit"></i>
              </button>

              <button
                class="btn btn-outline-danger"
                nz-popconfirm
                [nzPopconfirmTitle]="'TaskManagement::AreYouSureToDelete' | abpLocalization"
                (nzOnConfirm)="delete(task.id)"
                *abpPermission="'TaskManagement.Tasks.Delete'"
                nz-tooltip
                [nzTooltipTitle]="'TaskManagement::Delete' | abpLocalization"
              >
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>

<!-- Create / Edit Modal -->
<nz-modal
  [(nzVisible)]="isModalOpen"
  [nzTitle]="
    isEditMode
      ? ('TaskManagement::EditTask' | abpLocalization)
      : ('TaskManagement::NewTask' | abpLocalization)
  "
  (nzOnCancel)="handleCancel()"
  [nzFooter]="modalFooter"
  [nzWidth]="600"
>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="form" nzLayout="vertical">
      <nz-form-item>
        <nz-form-label nzRequired>
          {{ 'TaskManagement::Title' | abpLocalization }}
        </nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="title" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label>
          {{ 'TaskManagement::Description' | abpLocalization }}
        </nz-form-label>
        <nz-form-control>
          <textarea
            nz-input
            formControlName="description"
            [nzAutosize]="{ minRows: 3, maxRows: 6 }"
          ></textarea>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzRequired>
          {{ 'TaskManagement::Status' | abpLocalization }}
        </nz-form-label>
        <nz-form-control>
          <nz-select formControlName="status">
            <nz-option
              [nzLabel]="'TaskManagement::Enum:TaskStatus:New' | abpLocalization"
              [nzValue]="taskStatus.New"
            ></nz-option>

            <nz-option
              [nzLabel]="'TaskManagement::Enum:TaskStatus:InProgress' | abpLocalization"
              [nzValue]="taskStatus.InProgress"
            ></nz-option>

            <nz-option
              [nzLabel]="'TaskManagement::Enum:TaskStatus:Completed' | abpLocalization"
              [nzValue]="taskStatus.Completed"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label>
          {{ 'TaskManagement::AssignedUser' | abpLocalization }}
        </nz-form-label>
        <nz-form-control>
          <nz-select
            formControlName="assignedUserId"
            nzAllowClear
            nzShowSearch
          >
            <nz-option
              *ngFor="let user of users"
              [nzLabel]="user.userName"
              [nzValue]="user.id"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>

  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">
      {{ 'TaskManagement::Cancel' | abpLocalization }}
    </button>

    <button nz-button nzType="primary" (click)="save()" [nzLoading]="saving">
      {{
        isEditMode
          ? ('TaskManagement::Update' | abpLocalization)
          : ('TaskManagement::Create' | abpLocalization)
      }}
    </button>
  </ng-template>
</nz-modal>
